<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="overview & stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        @*<meta name="viewport" content="width=device-width" />*@
              @System.Web.Optimization.Styles.Render("~/Content/css")        <link href="/Content/jquery-ui.min.css" rel="stylesheet"/>
<link href="/Content/bootstrap.min.css" rel="stylesheet"/>
<link href="/Content/theme.css" rel="stylesheet"/>
<link href="/Content/skins.min.css" rel="stylesheet"/>
<link href="/Content/rtl.min.css" rel="stylesheet"/>
<link href="/Content/font-awesome.min.css" rel="stylesheet"/>
    </head>
<body class="login-layout">
    <div class="main-container">
        @RenderBody()
    </div>
  @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
